<div style="background-image: url('https://images.unsplash.com/photo-1470447149612-a1ed521fbcae?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='); background-repeat: no-repeat;height:100% ; vertical-align: middle;
    background-size:cover; position:relative">

    <div class="layer" >
        <div class="row row-welcome">
            <div class="large-12 columns" >
                <div style="text-shadow: 0px 1px 3px;" class="welcome">
                    Watch your favourite videos in replay
                </div>
            </div>
        </div>
        <a href="index.php?ctrl=user&action=inscription" class="button button-sign">Sign Up</a>
        <a href="index.php?ctrl=user&action=connexion" class="button button-sign">Sign In</a>
    </div>

</div>

