div.chat
{
	display:none;
}

div.msg
{
	display:flex;
	margin-bottom:10px;
}

div.messages
{
	overflow:auto; 
	height:200px;
	width:400px;
	margin-right:20px;
}

div.users
{
	overflow:auto; 
	height:200px;
	width:200px;
}

div:last-of-type form input[type="text"]
{
	width:396px;
}

h3
{
	margin-top:5px;
	margin-left:5px;
}

ul
{
	padding-left:0;
}

li
{
	list-style-type:none;
	margin-left:5px;
}

li.event
{
	font-style:italic;
	font-size:14px;
}