@font-face {
    font-family: "Gotham Medium";
    src: url(Gotham-Medium.otf);
}

.titre
{
	color: black;
	margin-top : none;
	margin-bottom: 20px;
	text-align: center;
	font-family: "Gotham Medium", sans-serif;
	font-size : 25px;
	font-weight: bold;
}

.center
{
	background-color: #D0F5A9;
	text-align: center;
	width:40%;
    margin-left:30%;
    font-family: "Gotham Medium", sans-serif;
    padding: 30px 10px 10px;
    margin-bottom: 10px;
}

.center label
{
		color: black;
		margin-top : none;
		font-family: "Gotham Medium", sans-serif;
		font-size : 15px;
		
}